[submodule "submodules/walmart"]
	path = submodules/walmart
	url = https://github.com/aiyoub-a/module-walmart.git
[submodule "module-maersk"]
	path = module-maersk
	url = https://github.com/aiyoub-a/module-maersk.git
[submodule "module-walmart"]
	path = module-walmart
	url = https://github.com/aiyoub-a/module-walmart.git
